* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f5ed;
  }
  nav {
    padding: 20px 10%;
    height: 15vh;
  }
  nav ul {
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
  }
  
  nav ul li img {
    width: 100px;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .leftmain {
    width: 40%;
  }
  
  .leftmain h1 {
    font-size: 60px;
  }
  
  .leftmain p {
    margin: 5% 0;
  }
  
  .leftmain button {
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
  }
  
  .rightmain {
    /* width: 60%; */
    padding: 7%;
  }
  
  .rightmain div img {
    width: 30%;
  }
  
  .rightmain div img:first-child {
    margin-right: 20px;
  }
  
  .rightmain div {
    margin-bottom: 20px;
  }
  
  .rightmain > img {
    width: 64%;
  }
  /* footer css */
  footer {
    background-color: #F5F5F5;
    padding: 50px 0;
    color: #333333;
    font-size: 16px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-left {
    width: 33.33%;
  }
  
  .footer-center {
    width: 33.33%;
  }
  
  .footer-right {
    width: 33.33%;
  }
  
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333333;
    text-decoration: none;
  }
  
  a:hover {
    color: #FFC107;
  }
  
  .fa-facebook {
    color: #3B5998;
  }
  
  .fa-twitter {
    color: #1DA1F2;
  }
  
  .fa-instagram {
    color: #E4405F;
  }
  
  .fa-youtube {
    color: #CD201F;
  }
  
  .footer-bottom {
    background-color: #EEEEEE;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  